{% extends "layout.html.twig" %}

{% block stylesheet %}
	<link
	rel="stylesheet" href="/assets/css/music.css">
	{# <meta http-equiv="Content-Security-Policy" content="frame-ancestors 'self' *spotify.com "> #}
	<meta allow="encrypted-media">

{% endblock %}

{% block content %}
	<form action="/spotify" method="post" id="bouton_spotify">
		<div class="div_spotify_image">
			<button class="spotify_image_black">
				<img onmouseover='passageDeLaSouris(this)' onmouseout='departDeLaSouris(this)' id="black" src="/assets/images/black-spotify.png">
			</button>
			{% if session is not defined %}
				<img class="arrow_spotify" src="/assets/images/up.png">
			{% endif %}
		</div>
	</form>
	<a href="/help">
		<div class="div_question_image">
			<div class="question_image_black">
				<img onmouseover='passageSouris(this)' onmouseout='departSouris(this)' id="question" src="/assets/images/question-noire.png">
			</div>
		</div>
	</a>

	<div class="logo">
		<a href="/">
			<img class="logo_image" src="/assets/images/RunInWild-orange.png">
		</a>
	</div>


	<div>
		Enter a desired target speed and we will adjust the playlist for you so that you keep up with your target running pace !
		<br>This project was coded by
		<a href="https://github.com/MatthieuChabot" target="_blank">Matthieu Chabot</a>,
		<a href="https://github.com/Permarole" target="_blank">Jonathan Permarole</a>,
		<a href="https://github.com/ValentinGaudin" target="_blank">Valentin Gaudin</a>
		and
		<a href="https://github.com/jgautrais" target="_blank">Jérémy Gautrais</a>.


	</div>


{% endblock %}
{% block javascript %}
	<script src="https://sdk.scdn.co/spotify-player.js"></script>
	<script src="/assets/js/webPlayback.js"></script>
	<script src="/assets/js/music_main.js"></script>
	<script src="/assets/js/Player.js"></script>
	<script src="/assets/js/style.js"></script>
{% endblock %}
