{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link
	rel="stylesheet" href="/assets/css/music.css">
{# <meta http-equiv="Content-Security-Policy" content="frame-ancestors 'self' *spotify.com "> #}
<meta allow="encrypted-media">

{% endblock %}

{% block content %}
	<form action="/spotify" method="post" id="bouton_spotify">
		<div class="div_spotify_image">
			<button class="spotify_image_black">
				<img onmouseover='passageDeLaSouris(this)' onmouseout='departDeLaSouris(this)' id="black" src="/assets/images/black-spotify.png">
			</button>
			<img class="arrow_spotify" src="/assets/images/up.png">
		</div>
		</input>
	</form>
	<div class="logo">
    	<img class="logo_image" src="/assets/images/RunInWild-orange.png">
    </div>
	<div class="frame_spotify image">
		<a href="#"><img class="arrow" src="/assets/images/back.png"></a>
			<iframe class="frame" src="https://open.spotify.com/embed/playlist/{{id}}?utm_source=generator" width="60%" height="200" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
			{# <iframe id="track" class="frame" src="" width="60%" height="200" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe> #}
		<a href="#"><img class="arrow" src="/assets/images/next.png"></a>
    </div>
	<div class="div_orange">
		<div class="vitesse">
			<button id="record-button">Record</button>
		</div>
		<p>ACTUAL BPM :</p>
	</div>
	<div>
		<p>Last speed in interval:
			<span id="last-speed"></span>
		</p>
	</div>

	{# {% for playlist in results.playlists.items %}


		<li>{{playlist.name}}</li>
		<li>{{playlist.id}}</li>
		<li>{{playlist.description}}</li>

		<hr>
	{% endfor %} #}
{% endblock %}

{% block javascript %}
	<script src="https://sdk.scdn.co/spotify-player.js"></script>
	<script src="/assets/js/webPlayback.js"></script>
	<script src="/assets/js/music_main.js"></script>
	<script src="/assets/js/Player.js"></script>
	<script src="/assets/js/style.js"></script>
{% endblock %}
