{% extends 'layout.html.twig' %}

{% block content %}
    <div class="logo">
    <img class="logo_image" src="/assets/images/RunInWild-orange.png">
    </div>
    <div class="frame_spotify image">
    <a href="#"><img class="arrow" src="/assets/images/back.png"></a>
    <iframe class="frame" src="https://open.spotify.com/embed/track/2unWIyuvmBgp2mk8PlY0UG?utm_source=generator" width="60%" height="200" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    <a href="#"><img class="arrow" src="/assets/images/next.png"></a>
    </div>
<html>
    <head>
        <title>Spotify Web Playback SDK Quick Start</title>
    </head>
    <body>
        <form action="/" method="post">
		        <input type="submit" value="Connexion">
	      </form>
        <h1>Spotify Web Playback SDK Quick Start</h1>
        <script src="https://sdk.scdn.co/spotify-player.js"></script>
        <script src="/assets/js/webPlayback.js"></script>
        <button id="togglePlay">Play</button>
    </body>
</html>
{% endblock %}
