body {
  margin: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
p {
  margin: 5px;
}

.logo {
  background-image: url("/assets/images/line.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_image {
  width: 200px;
  height: 100px;
}

.div_spotify_image {
  display: flex;
  justify-content: flex-end;
}

.div_question_image {
  display: flex;
  justify-content: flex-start;
}

.spotify_image_black {
  position: fixed;
  top: 10px;
  padding: 10px;
  background-color: transparent;
  border: 0px;
}

.deconnexion {
  width: 50px;
  height: 50px;
}

.question_image_black {
  position: fixed;
  top: 10px;
  padding: 10px;
}

.spotify_image_black img {
  max-width: 100%;
}

.frame_spotify {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.frame {
  opacity: 0.8;
}

.image {
  background-image: url("/assets/images/runner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 300px;
}

.arrow {
  width: 55px;
  height: 55px;
  padding: 10px;
}

.arrow_spotify {
  display: flex;
  position: fixed;
  top: 70px;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.div_orange {
  width: 100%;
  background: rgb(241, 29, 253);
  background: linear-gradient(
    0deg,
    rgba(241, 29, 253, 1) 0%,
    rgba(252, 76, 1, 1) 64%
  );
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vitesse {
  background-color: white;
  border-radius: 10px;
  width: 200px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  margin: 10px;
  box-shadow: 0px 0px 15px pink;
  cursor: pointer;
}

.target_speed {
  background-color: white;
  border-radius: 10px;
  width: 200px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  margin: 20px;
  font-weight: bold;
  color: #fc4c01;
  box-shadow: 0px 0px 15px pink;
}

#target-speed {
  text-align: center;
}

#record-button {
  color: #fc4c01;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  background-color: white;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
}

#black {
  width: 40px;
  height: 40px;
}

#question {
  width: 45px;
  height: 45px;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@keyframes bounce {
  0%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
img.arrow_spotify {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
